html {
    box-sizing: border-box;
    min-height: 100%;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient( 15deg, #13547A 0%, #80D0C7 100% );
    font-family: 'Monserrat', sans-serif;
    min-height: 100%;
}

h1, h2, p {
    margin: 0;
}

.page {
    background: url( '../images/hamburguesa.jpg' );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-content {
    text-align: center;

    display: flex;
    flex-direction: column;
}

.principal-content .brand h1 {
    color: darkgoldenrod;
    font-size: 1.8rem;
}
.principal-content .brand h2 {
    color: #E0AB10;
    font-size: 2.8rem;
    text-transform: uppercase;
}
.principal-content .brand .date {
    font-size: 1.4rem;
    font-weight: 800;
}

.principal-content .promo {
    order: -1;
}
